<app-child [title]="title"></app-child>

<h2>Issued Books Registry</h2>

<app-dropdown></app-dropdown>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Name of the Borrower</th>
        <th>Book ID</th>
        <th>Book Title</th>
        <th>Contact Number</th>
        <th>Date of Issue</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.nameOfBorrower }}</td>
        <td>{{ user.bookId }}</td>
        <td>{{ user.bookTitle }}</td>
        <td>{{ user.contactNumber }}</td>
        <td>{{ user.issueDate }}</td>
        <td>{{ user.status }}</td>
      </tr>
    </tbody>
  </table>
</div>