<app-child [title] = "title" (userAdded)="addUser($event)"></app-child>
<h2>Issued Books Registry</h2>
<div class="container">
<table>
  <thead>
    <tr>
      <th>Name of the Borrower</th>
      <th>Book ID</th>
      <th>Book title</th>
      <th>Contact Number</th>
      <th>Date of Issue</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
    <td>{{ user.nameOfBorrower }}</td>
    <td>{{ user.bookId }}</td>
    <td>{{ user.bookTitle }}</td>
    <td>{{ user.contactNumber }}</td>
    <td>{{ user.issueDate }}</td>
    </tr>
  </tbody>
</table>
</div>
